.travel-period-container {
    padding: 10px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    max-width: 500px;
    height: 300px;
  }
  
  .travel-period-placeholder {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-size: cover; 
    border-radius: 8px;
  }

  .period {
    text-align: left;
    margin-left:20px;
  }

  .custom-calendar{
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .custom-calendar .highlight {
    background: lightblue;
    color: white;
  }
  
  .custom-calendar .highlight-start-end {
    background: darkblue;
    color: white;
  }
  
  .custom-calendar .today {
    background: orange;
    color: white;
  }
  
  /* 기존 스타일을 오버라이드하여 오늘 날짜가 선택된 종료 날짜가 아닐 경우에만 적용되도록 함 */
  .custom-calendar .react-calendar__tile--now:not(.highlight-start-end) {
    background: orange;
    color: white;
  }
  
  .custom-calendar .react-calendar__tile--active:not(.highlight-start-end) {
    background: darkblue;
    color: white;
  }