.FriendStory {
    display: flex;
    flex-direction: column; /* Main 컴포넌트의 자식 요소들을 세로로 배치 */
}

/* 호버 상태일 때 */
.btn:hover {
    background-color: #1a1f3c; /* 살짝 진한 색상으로 변경 */
}

/* 클릭 상태일 때 */
.btn:active {
    background-color: #6a839e; /* 더 진한 색상으로 변경 */
}

.logout-btn:hover {
    background-color: #5d627f; /* 살짝 진한 색상으로 변경 */
}

.logout-btn:active {
    background-color: #9eb4cc; /* 더 진한 색상으로 변경 */
}

.bold-text {
    font-weight: bold;
    text-decoration: underline;
}

.input-field {
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-container {
    display: flex;
}

/* 오른쪽 상단 메뉴 버튼 스타일 */
.position-fixed.top-0.end-0.m-3 {
    z-index: 1050; /* 다른 요소들 위에 보이도록 z-index 설정 */
    border: none;
    background-color: #007bff; /* Bootstrap 기본 파란색 */
    color: white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem; /* Bootstrap 버튼 패딩 */
    font-size: 1rem; /* 기본 글꼴 크기 */
    line-height: 1.5; /* 기본 줄 높이 */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 부드러운 전환 효과 */
}

/* Offcanvas 스타일 (필요한 경우) */
.offcanvas-end {
    width: 250px; /* Offcanvas 너비 조정 */
    /* 추가적인 Offcanvas 스타일 */
}
