.left-pane {
    display: flex;
    flex-direction: column;
    width: 230px; /* 왼쪽 패널이 전체의 절반을 차지하도록 설정 */   
    align-items: center;
    padding: 20px;
    background: linear-gradient(62deg, #faf7f1 25%, #abe1e0 75%);
    min-height: 100vh; /* 화면 세로를 꽉 채우도록 설정 */
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* 로그아웃 버튼과의 간격을 조정할 수 있습니다. */
}

.buttons {
    width: 100%; /* 버튼들의 가로 크기를 100%로 설정하여 가로로 꽉 차도록 합니다. */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}

/* Write Story 버튼과 MyStory 아이콘 사이 간격 조정 */
.logout-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto; /* 로그아웃 버튼이 상단으로 이동합니다. */
    width: 100%;
}

.story-icon {
    width: 100px;
    height: 100%;
    transition: transform 1s, filter 1s;

    :hover{
        filter: grayscale(10%);
        animation: none;
    }
    
}

.story-btn{
    background: none;
    border: none; /* 검정 태두리 제거 */
    padding: 0; /* 내부 여백 제거 */
    cursor: pointer;

    :hover .story-icon {
        animation: shakeIcon 5s infinite;
    }
}

.logo {
    width: 100%; /* 로고 이미지의 가로 크기를 100%로 설정하여 부모 요소에 맞춤 */
    max-width: 500px; /* 최대 가로 크기를 설정 */
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn {
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    background-color: #2D3250;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 변화하도록 추가 */

}

.logout-btn{
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
    background-color: #484e53;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 변화하도록 추가 */
}