.post-container{
  height: 100vh;
}

.post-layout {
    display: flex;
    justify-content: space-between; 
    background-color: #e2f0ff;
    height: 100vh;
  }
  
  .left-section {
    flex: 1; 
    flex-grow: 3;
  }
  
  .right-section {
    flex: 1;
    height:100%;
  }