.main {
    display: flex;
    flex-direction: column; /* Main 컴포넌트의 자식 요소들을 세로로 배치 */
}

.main-content {
    display: flex;
    flex: 1; /* Main 컴포넌트의 자식 요소를 동일한 공간으로 채우도록 설정 */
}

.left-pane {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%; /* 왼쪽 패널이 전체의 절반을 차지하도록 설정 */   
    align-items: center;
    padding: 20px;
    background: linear-gradient(62deg, #faf7f1 25%, #abe1e0 75%);
    min-height: 100vh; /* 화면 세로를 꽉 채우도록 설정 */
}

.right-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 8;
    width: 50%; /* 오른쪽 패널이 전체의 절반을 차지하도록 설정 */
    padding: 20px;
    background: linear-gradient(45deg, #f5ecdc 0%, rgb(65, 200, 225) 70%) repeat scroll 0% 0%, linear-gradient(135deg, #008cd9 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%, linear-gradient(225deg, #efcee3 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) linear-gradient(315deg, #ea9ab1 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;
}

.footer {
    margin-top: auto; /* Footer를 항상 화면 아래에 위치하도록 설정 */
}

.logo {
    width: 100%; /* 로고 이미지의 가로 크기를 100%로 설정하여 부모 요소에 맞춤 */
    max-width: 500px; /* 최대 가로 크기를 설정 */
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn {
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    background-color: #2D3250;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 변화하도록 추가 */

}
/* 호버 상태일 때 */
.btn:hover {
    background-color: #1a1f3c; /* 살짝 진한 색상으로 변경 */
}

/* 클릭 상태일 때 */
.btn:active {
    background-color: #6a839e; /* 더 진한 색상으로 변경 */
}

.left-content {
    margin-bottom: 20px; /* 로그아웃 버튼과의 간격을 조정할 수 있습니다. */
}

.logout-container {
    margin-top: auto; /* 로그아웃 버튼이 상단으로 이동합니다. */
    width: 100%;
}

.logout-btn{
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
    background-color: #484e53;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 변화하도록 추가 */
}

.logout-btn:hover {
    background-color: #5d627f; /* 살짝 진한 색상으로 변경 */
}

.logout-btn:active {
    background-color: #9eb4cc; /* 더 진한 색상으로 변경 */
}

.bold-text {
    font-weight: bold;
    text-decoration: underline;
}

.input-field {
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-container {
    display: flex;
}

/* 오른쪽 상단 메뉴 버튼 스타일 */
.position-fixed.top-0.end-0.m-3 {
    z-index: 1050; /* 다른 요소들 위에 보이도록 z-index 설정 */
    border: none;
    background-color: #007bff; /* Bootstrap 기본 파란색 */
    color: white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem; /* Bootstrap 버튼 패딩 */
    font-size: 1rem; /* 기본 글꼴 크기 */
    line-height: 1.5; /* 기본 줄 높이 */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 부드러운 전환 효과 */
}

/* Main.css */
.story-icon {
    width: 100px;
    height: 100%;
    transition: transform 1s, filter 1s;
}

@keyframes shakeIcon {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); } /* 좌측으로 흔들리는 효과 */
    75% { transform: translateX(3px); } /* 우측으로 흔들리는 효과 */
    100% { transform: translateX(0); }
}

.story-btn{
    background: none;
}

.story-btn{
    background: none;
    border: none; /* 검정 태두리 제거 */
    padding: 0; /* 내부 여백 제거 */
    cursor: pointer;
}

.story-btn:hover .story-icon {
    animation: shakeIcon 5s infinite;
}

.story-icon:hover {
    filter: grayscale(10%);
    animation: none;
}


/* Write Story 버튼과 MyStory 아이콘 사이 간격 조정 */
.logout-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
