.image-slider {
    position: relative;
    overflow: hidden;
    max-width: 600px; 
    max-height: 400px; 
    margin: auto; 
    border-radius: 10px; 
  }
  
  .image-container {
    display: flex;
    transition: transform 0.3s ease-out;
  }
  
  .slide {
    min-width: 600px; 
    max-height: 400px; 
    object-fit: cover; 
    transition: transform 0.3s ease-out;
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  /* 활성 이미지에 대한 스타일 */
  .slide.active {
    opacity: 1;
  }
  
  /* 비활성 이미지에 대한 스타일 */
  .slide:not(.active) {
    opacity: 0.5;
  }
  